name: cargo-audit

permissions:
  issues: write
  checks: write

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-latest
    env:
      # to satisfy cargo-audit's MSRV,
      # overriding rust-toolchain.toml
      RUSTUP_TOOLCHAIN: stable
    steps:
      - uses: actions/checkout@v6
      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
