on:
  push:
    tags:
      - "v*.*.*"

name: Release

jobs:
  check-main-branch:
    runs-on: ubuntu-latest
    outputs:
      contains: ${{ steps.check.outputs.contains }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0
      - id: check
        run: |
          branches=$(git branch -r --contains "$GITHUB_REF_NAME")
          for branch in $branches; do
            if [[ "$branch" == "origin/main" ]]; then
              echo "contains=true" >> "$GITHUB_OUTPUT"
              exit 0
            fi
          done
          echo "contains=false" >> "$GITHUB_OUTPUT"
  prepare-assets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: cargo package -l
      - run: |
          cargo package --no-verify -p traq-bot-http
          mv target/package/*.crate traq-bot-http.crate
      - uses: actions/upload-artifact@v5
        with:
          name: package
          path: traq-bot-http.crate
  create-release:
    runs-on: ubuntu-latest
    needs:
      - prepare-assets
      - check-main-branch
    if: needs.check-main-branch.outputs.contains == 'true'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: package
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: |
          release_note="$(cat CHANGELOG.md | python3 .github/workflows/filter-changelog.py '${{ github.ref_name }}')"
          gh release create ${{ github.ref_name }} -d -t ${{ github.ref_name }} -n "$release_note"
          gh release upload ${{ github.ref_name }} traq-bot-http.crate
        env:
          GH_TOKEN: ${{ secrets.PAT }}
